<footer>
    <h3>&#9400 2022 Erick Alonso. All rights reserved. Design: Erick Alonso</h3>
</footer>    

<!-- scripts -->
<script src="https://kit.fontawesome.com/d5ce7117b5.js" crossorigin="anonymous"></script>
<script src="js/buttons.js"></script>
<script src="js/skillList.js"></script>
</body>
</html>