/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Box Model Hack */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/* /******************************************* */

html {
    overflow: hidden;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    /* background: url('/images/background2.jpg'); */
    background: black;
    /* background: linear-gradient(to right bottom , black 30%, #25a7a2) no-repeat; */
}

@supports (-webkit-touch-callout: none) {
    body {
        height: -webkit-fill-available;
    }
}

main {
    position: relative;
    color: white;
}

h2{
    font-size: 2rem;
}

h1{
    font-size: 3rem;
}

/* 
footer {
    position: relative;
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: .7rem;
    z-index: 99999;
} */