<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Resets -->
    <link rel="stylesheet" href="css/default/reset.css">
    <link rel="stylesheet" href="css/default/style.css">

    <!-- componenets -->
    <link rel="stylesheet" href="css/components/navBar.css">
    <link rel="stylesheet" href="css/components/button.css">

    <!-- css file -->
    <link rel="stylesheet" href="css/details.css">

    <body>

        <div id="dark"></div>

        <!-- Nav -->
        <nav>
            <div id="topBar">
                <i>Logo</i>
                <h2>Friver</h2>
                <div>
                    <button class="menu"  aria-label="Main Menu">
                        <svg width="100" height="100" viewBox="0 0 100 100">
                            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                            <path class="line line2" d="M 20,50 H 80" />
                            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                        </svg>
                    </button>
                </div>
            </div>
            <div id="sidebarMenu">
                <ul class="sidebarMenuInner">
                    <a href="logout">Log Out</a>
                </ul>
            </div>
        </nav>

        <main>


            <form action="/profile/creatProfile" method="POST" enctype="multipart/form-data">


                <section class="imageSection">
                    <h3>Add your picture</h3>

                    <img id="selectedImage" src="" alt="">


                    <div class="container">
                        <label for="imageUpload" class="image ">choose image</label>
                        <input type="file" class="image" id="imageUpload" name="file">
                    </div>

                    <div class="nextBtn">
                        <span><i class="fa-solid fa-arrow-right next nextSkills"></i></span>
                    </div>

                </section>

                <section class="skillsSection hide">
                    <h3>Add Skills</h3>

                    <div class="container">
                        <div class="inner">
                        <label for="skill">Skill</label>
                        <input type="text" class="skillInput" name="skills"  placeholder="Example: Uber Driver">
                        </div>

                        <div class="inner btn">
                            <button type="button" class="buttonTheme skillBtn">Add</button>
                        </div>

                        <ul class="skillsList">
                        </ul>
                    </div>

                    <div class="nextBtn">
                        <span><i class="fa-solid fa-arrow-right next nextDescription"></i></span>
                    </div>

                </section>
                
                <section class="descriptionSection hide">

                    <h3>Add Description</h3>

                    <div class="container">
                        <textarea name="description" id="description" cols="30" rows="5" placeholder="Ex. 'I'm a software engineer that sepcializes in web devlopment. I drive for Lyft part time. On my spare time I work on freelancing and other job opportunites.'"></textarea>
                    </div>

                    <div class="nextBtn">
                        <i class="fa-solid fa-arrow-right next nextContact"></i>
                    </div>
                </section>

                <section class="contactSection hide">
                    <h3>Contact Information</h3>

                    <div class="container">
                        <div class="inner">
                            <label for="email">Email</label>
                            <input type="email" class="emailInput" name="email" required placeholder="required">
                        </div>
                        <div class="inner">
                            <label for="phoneNumber">Phone number</label>
                            <input type="number" name="phoneNumber" placeholder="optional">
                        </div>
                        <div class="inner">
                            <label for="website">Personal Website</label>
                            <input type="text" name="website" placeholder="optional">
                        </div> 
                    </div>

                    <button type="submit" value="Upload" class="buttonTheme complete">Complete profile</button>
                </section>    
            </form>

        </main>

<%- include('partials/footer') -%>