/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

nav {
    position: relative;
}

main {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            /* justify-content: center; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            /* align-items: center; */
    /* height: 100%; */
    margin: 120px auto;
    /* flex-wrap: wrap; TEMP */
}

.hide {
    display: none;
}

main form {
    margin: auto;
    margin-bottom: 50px;
}

main form > section{
    background-color: black;
    /* height: 600px; */
    width: 380px;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    /* border: 2px solid white; */
    border: 1px solid rgb(255, 255, 255, .5);
    -webkit-box-shadow: 10px 10px 5px 0px rgb(154, 153, 153);
            box-shadow: 10px 10px 5px 0px rgb(154, 153, 153);
}

form h3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

input[type=email], input[type=password], input[type=text], input[type=number], input[type=url] {
    /* width: 50%; */
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 20px;
}

input:focus, textarea:focus {
    outline: none !important;
    border: 2px solid #25a7a2;
}

#selectedImage.active {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 40px;
}

input[type=file] {
    display: none;
}

label.image {
    background-color: white;
    color: black;
    padding: 10px 20px ;
    border-radius: 45px;
    font-size: 1rem;
}

label.image:hover {
    /* background-color: black; */
    background-color: rgb(201, 200, 200);
    /* transform: scale(.9); */
}

label {
    /* display: block; */
    margin-left: 20px;
    /* width: 40%; */
    font-size: 1.5rem;
    color:#56ba9d;
    text-align: left;
}

.inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.inner.btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin: 20px 20px 0 0;
}

.skillsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin: 20px auto; 
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(127, 127, 127, 0.41);
}

.skillsList i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    width: 150px;
    height: 50px;
    padding: 30px;
    color: #56ba9d;
}

.buttonTheme {
    margin-top: 20px;
    margin-bottom: 20px;
}

.next {
    font-size: 40px;
    margin-right: 10px;
}

.next:hover {
    color: #56ba9d;
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
}

section div.nextBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: 95%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
}


i:hover {
    color: white;
    /* transform: scale(.9); */
}

/* description section */

.descriptionSection textarea {
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    line-height: 20px;
}

/* Contact Section */

.contactSection .inner {
    margin-bottom: 20px;
}

.contactSection .complete {
    width: 200px;
}

.complete {
    margin-bottom: 35px;
}

.complete:hover {
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
}

button:hover {
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
}