/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/******************************************
/* LAYOUT
/*******************************************/

* {
     color: white;
}

header{
     width: 80%;
     margin: auto;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     clear: both;
}

section {
     width: 80%;
     margin: auto;
}

nav {
     position: relative;
}

main {
     /* height: 100%; */
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Header */

.heading {
     width: 300px;
     margin: auto;
     margin-top: 30px;
}

.heading h2{
     width: 100%;
     text-align: center;
}

.editBtn {
     position: relative;
     bottom: 35px;
     left: -30px;
     font-size: 30px;
}

.editBtn:hover {
     color: #56ba9d;
}

header > div {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin: auto;
     margin-top: 30px;
     width: 300px;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
}

header div > img {
     display: block;
     width: 300px;
     height: 300px;
     -o-object-fit: cover;
        object-fit: cover;
     margin: auto;
     border-radius: 50%;
     border: 3px solid rgb(0, 0, 0);
}

header div > h3{
     text-align: center;
     font-size: 2.5rem;
     padding-top: 20px;
     width: 100%;
}

/* Gigs List*/

.gigs {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
     margin: auto;
     margin-top: 30px;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
}


.gigs > ul {
     width: 90%;
     margin: auto;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     /* margin-left: 10%;  */
}

.gigs > ul:last-child {
     -webkit-box-pack: left;
         -ms-flex-pack: left;
             justify-content: left;
}

.gigs ul > li {
     width: 50%;
     padding-bottom: 10px;
     font-size: 1rem;
     width: 45%;
     margin: 5px;
     padding-left: 10%;
     line-height: 25px;
}

.gigs li > i {
     padding-right: 10px;
     font-size: 1rem;
     color: #56ba9d;
}
   

/* About me */

.aboutMe{
     display:-webkit-box;
     display:-ms-flexbox;
     display:flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     width: 100%;
     height: 230px;
     margin: auto;
     margin-top: 50px;
     text-align: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     background-color: white;
     /* border-radius: 50%; */
}

.aboutMe > h2 {
     width: 100%;
     padding-top: 20px;
     color: black;
}

.aboutMe > p {
     margin: 0 auto;
     margin-bottom: 10px;
     font-size: 1.3rem;
     width: 70%;
     line-height: 30px;
     color: black;
}


/* contact */

.contact{
     display: block;
     /* height: 200px; */
     width: 380px;
     text-align: left;
     margin: 100px auto;
}

.contact h3 {
     text-align: left;
     margin: 30px 0;
     font-size: 20px;
     background-color: white;
     padding: 20px;
     border-radius: 10px;
     color: black;
}

.contact a {
     color: black;
     text-decoration: none;
     border-bottom:1px solid #56ba9d;
}