/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* main */

body {
    height: 100%;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* height: 100%; */
    margin: 130px 0;
}

main form {
    background-color: black;
    /* height: 600px; */
    width: 350px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    /* border: 2px solid white; */
    border: 1px solid rgb(255, 255, 255, .5);
    -webkit-box-shadow: 10px 10px 5px 0px rgb(154, 153, 153);
            box-shadow: 10px 10px 5px 0px rgb(154, 153, 153);
}

nav {
    position: relative;
}

/* form */

form h3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

form div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.email {
    margin-bottom: 20px;
}

form div + div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

form div + div > section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

form .spacing {
    margin-bottom: 20px;
}

form .email h4 {
    width: 100%;
    padding-top: 10px;
    font-size: .8rem;
    text-align: left;
    margin-left: 20px;
    color: rgb(126, 126, 126);
}

label {
    /* display: block; */
    margin-left: 20px;
    /* width: 40%; */
    font-size: 1.3rem;
    color: #56ba9d;
    text-align: left;
}

input[type=email], input[type=password], input[type=text] {
    /* width: 50%; */
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 20px;
}

.logIn-button, .signUp-button{
    width: 120px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.logIn-button:hover, .signUp-button:hover {

    -webkit-transform: scale(.9);

        -ms-transform: scale(.9);

            transform: scale(.9);
}


.lastBtn {
    margin-bottom: 30px;
}

.encapBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}

.lastBtn {
    margin-top: 20px;
    margin-right: 20px;
}

.alert {
    color: red;
    width: 40%;
}

.userName {
    margin-bottom: 20px;
}

.errors div{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.errors {
    margin-top: 20px;
}

.hide {
    display: none;
}

.divider {
    width: 90%;
    margin: 10px auto 10px auto;
    border: 1px solid rgb(168, 168, 168, 0.6);
}



div#btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
}

div#btns {
    margin-left: 20px;
}

@media (max-width: 400px) {

    main form {
        width: 260px;
    }

    form h3 {
        font-size: 1.2rem;
    }
    
    input[type=email], input[type=password], input[type=text] {
        width: 120px;
        padding: 10px 5px;
        margin-right: 10px;
    }

    form .encapBtn input{
        margin-right: 10px;
    }
}

@media (min-width: 600px) {
    main form {
        width: 500px;
    }
}